.container {
  max-width: 70%;
  margin: 40px auto;
  border: solid 3px;
  border-radius: 10%;
  border-color: rgb(32, 127, 165);
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.search-bar {
  margin-top: 30px;
  padding-bottom: 40px;
}

#get-current-weather-btn,
#city-search-btn,
#city-input {
  border: 1px solid darkgrey;
  margin: auto;
  padding: 5px;
  transition: 200ms ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
  border-color: skyblue;
}

#city-search-btn,
#get-current-weather-btn {
  background-color: skyblue;
  color: rgb(228, 240, 242);
}
#weather-icon {
  position: absolute;
  float: right;
  left: 350px;
}

#city-header {
  padding: 30px, 20px;
  margin: auto;
}
.table {
  border-color: rgb(55, 156, 196);
  margin: 0 auto;
  width: 600px;
}

form {
  text-align: center;
}

td {
  font-weight: 600;
  color: rgb(55, 156, 196);
  text-align: center;
  vertical-align: middle;
  border-color: rgb(55, 156, 196);
}

th {
  font-weight: 200;
  color: rgb(55, 156, 196);
  border-color: rgb(55, 156, 196);
}

.city {
  text-align: center;
  margin: auto;
  padding: 0px 30px;
  color: rgb(32, 127, 165);
  font-weight: 600;
  line-height: 75px;
  font-size: 60px;
}

.current-weather-emoji {
  font-size: 80px;
  margin: 20px;
  padding: 20px;
  width: 80px;
  height: 50px;
}

#date {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(55, 156, 196);
}
#weather-description {
  color: rgb(71, 158, 192);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  font-style: italic;
}
#weather-description::first-letter {
  text-transform: capitalize;
}

.weatherProperties {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.currentWeather {
  display: inline;
  margin: 0px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: rgb(55, 156, 196);
  width: 12.5%;
}

#current-temperature {
  font-size: 30px;
}

a {
  font-size: 20px;
  color: rgb(55, 156, 196);
  text-decoration: none;
  font-weight: 300;
}

.active {
  cursor: default;
  color: rgb(55, 156, 196);
  text-decoration: none;
  font-weight: 400;
}

.active:hover,
.active:focus,
.active:active {
  text-decoration: none;
  color: inherit;
}

.weather-emoji {
  font-size: 40px;
  display: block;
  text-align: center;
}

.coder {
  text-align: center;
  color: skyblue;
  font-size: 12px;
  padding: 20px;
}

.coder:hover {
  color: skyblue;
  text-decoration: none;
}

#github-link {
  font-weight: 600;
}
